#hero {
    margin-top: 75px;
    position: relative;
    padding-top: 8%;
    padding-bottom: 10%;
    background: url('../../assets/img/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    > .hero-element {
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-family: $poppins;

        > h1 {
            font-weight: 700;
            font-size: 300%;
            margin-bottom: .8rem;
        }

        > h2 {
            font-weight: 700;
            font-size: 150%;
        }

        > h4 {
            font-weight: 700;
            font-size: 90%;
            letter-spacing: 2px;
            margin-bottom: 6%;
        }

        > .hero-button {
            margin: auto;
            display: flex;
            flex-direction: column;
            max-width: 320px;
            width: 80%;

            a {
                text-decoration: none;
                font-weight: 500;
            }

            > .about-us {
                display: inline-block;
                background-color: $primary;
                color: white;
                font-size: 175%;
                font-weight: 500;
                width: 100%;
                padding: 2% 1%;
                margin-bottom: 1rem;
            }

            & .secondary-button {
                background-color: $secondary;
                font-size: 80%;
                color: black;
                width: 47%;
                padding: .5rem 0;

                > i {
                    margin-right: .3rem;
                    font-size: 130%;
                }
            }
        }
    }
}

@include breakpoint-max(sm) {
    #hero {
        padding-top: 20%;
        padding-bottom: 25%;

        > .hero-element {
            h1 {
                font-size: 180%;
            }

            h2 {
                font-size: 100%;
            }

            h4 {
                font-size: 70%;
                margin-bottom: 10%;
            }

            > .hero-button {
                width: 75%;

                > .about-us {
                    font-size: 100%;
                }

                > .secondary-button {
                    font-size: 40%;

                    > i {
                        font-size: 90%;
                    }
                }
            }
        }
    }
}
